<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="pixafy" translate="label" sortOrder="10">
            <label>pixafy</label>
        </tab>
        <section id="pixafy_po_number" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Checkout</label>
            <tab>pixafy</tab>
            <resource>Pixafy_PONumber::pixafy_po_number</resource>
            <group id="general" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PO Number</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="required" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Required</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
